{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-7 col-lg-7">
        <div align="center">
          <img src="{{ url_for('static', filename=user.pic) }}" alt="Profile Pic" style="width:40%;height:auto;" class="rounded-circle">

          <div class="container"> <!-- Container Profile -->
            <div class="row">
              <div class="col-sm">
                <h5> 
                  {{ user.first_name + " " + user.last_name}} 
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                {{ user.profile_id }}
                {% if user %} 
                {{ user.bio }}
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <a href="{{ user.url }}"> {{ user.url }} </a>
              </div>
            </div>
          </div> <!-- End Container Profile -->
        </div>
      </div>
      <div class="col-sm col-lg-2">
        <h5> Posts: 9001 </h5>
      </div>
      <div class="col-sm col-lg-2">
        <h5> Views: 0 </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div align="center">
          <h1> Photo Blog </h1>
        </div>
      </div>
    </div>
</div>



    <div class="container"> <!-- Container -->
      <div class="row">
        {% for indiv_blog in user.blogs %}
        <div class="col-sm-4">
          <a href={{'blogs#'+ indiv_blog.id|string}}>
            <img src="{{ url_for('static', filename=indiv_blog.pic) }}" class="grid_photo_3x3 center">
          </a>
          <br>
        </div>  <!-- Collumn End -->
        {% endfor %}
      </div>  <!-- Row End -->
    </div> <!-- Container End -->
    
  
{% endblock %}