{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
    <div class="row">
      <div class="col-sm-7 col-md-7 col-lg-7">
        <div align="center">
          <img src="{{ url_for('static', filename=user.pic) }}" alt="Profile Pic" style="width:40%;height:auto;" class="rounded-circle">

          <div class="container"> <!-- Container Profile -->
            <div class="row">
              <div class="col-sm">
                <h5> 
                  {{ user.first_name + " " + user.last_name}} 
                </h5>
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                {{ user.profile_id }}
                {% if user %} 
                  <!-- Tried to split bio if too long 
                  {#
                    {{ bio_len = len(user.bio) }}
                  {% user_bio = user.bio %}
                  {% bio_beg = user_bio.slice(bio_len/2) %}
                  {% bio_end = user_bio.slice(bio_len/2, bio_len) %} #}-->

                  <!-- {{ bio_beg }} -->
                  
                  <!-- </br> -->
                {{ user.bio }}
                {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col-sm">
                <a href="{{ user.url }}"> {{ user.url }} </a>
              </div>
            </div>
          </div> <!-- End Container Profile -->
        </div>
      </div>
      <div class="col-sm col-lg-2">
        <h5> Posts: 9001 </h5>
      </div>
      <div class="col-sm col-lg-2">
        <h5> Views: 0 </h5>
      </div>
    </div>

    <div class="row">
      <div class="col-sm">
        <div align="center">
          <h1> Photo Blog </h1>
        </div>
      </div>
    </div>
  <div class="container">
    <table>
    <tr>
      <td>
        <a href="posts.html#post1">
         <img src="{{ url_for('static', filename='coding_notes.jpg') }}" class="grid_photo_3x3 center">
        </a>
      </td>
      <td>
        <a href="posts.html#post2">
         <img src="{{ url_for('static', filename='coding_glasses.jpg') }}" class="grid_photo_3x3 center">
        </a>
      </td>
      <td>
        <a href="posts.html#post3">
          <img src="{{ url_for('static', filename='coding_python1.jpg') }}" class="grid_photo_3x3 center">
        </a>
      </td>

    </tr>
    </table>
  </div>
<!-- Original content
  <h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form> -->
{% endblock %}