{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="POST" enctype = "multipart/form-data">
  <h3 align="center">Edit Profile</h3>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      type="text"
      class="form-control"
      id="firstName"
      name="firstName"
      placeholder="Enter your first name."
      value = {{user.first_name}}
    />
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="lastName"
      name="lastName"
      placeholder="Enter your last name."
      value = {{user.last_name}}
    />
  <div class="form-group">
    <label for="bio">Bio</label>
    <input
      type="text"
      class="form-control"
      id="bio"
      name="bio"
      placeholder="Tell the world something interesting."
      {% if user.bio %}
      value = "{{user.bio}}"
      {% endif %}
    />
  </div>
  <div class="form-group">
    <label for="url">URL</label>
    <input
      type="text"
      class="form-control"
      id="url"
      name="url"
      placeholder="Enter URL website, portfolio, landing page, etc."
      {% if user.url %}
      value = {{user.url}}
      {% endif %}
    />
  </div>
  <div class="form-group">
    <label for="pic">Profile Pic</label>
    <input 
      type="file" 
      class="form-control"
      id="pic" 
      name="pic"
      placeholder="Local file location"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Edit Profile</button>
</form>
{% endblock %}

